/* body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRp38KUKU0U8P_TteXA7JsAS_2HbEKJv3-Aw&usqp=CAU);
} */
#body {
  background-color: rgb(10, 1, 30);
  color: white;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dot span {
  width: 20px;
  height: 20px;
  margin: 5px 3px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

h3 {
  font-size: 13px;
  margin-left: 40px;
  margin-top: 60px;
  color: white;
}

.items li {
  list-style: none;
  color: rgb(184, 9, 9);
  margin-top: 30px;
  font-size: 18px;
  margin-right: 30px;
}
