.body{
    margin:20px 15px;
    border: 2px solid black;
    border-radius: 8px;
    padding:5px 5px;
    height : auto;
    background-color: rgba(0, 0, 0, 0.32);
}

.header{
    margin: 10px 8px;
    height: 100px;
}

.logo img{
    display: block;
    position: absolute;
    width: 10%;
    border: 2px solid grey;
    box-shadow:3px 3px;
}

.navbar {
    display:inline-block;
    width: 80%;
    margin: auto;
    position: relative;
}

.navbar li {
    float:left;
    list-style: none;
    margin: 10px 12px ;
    padding: 5px;
}

.navbar ul {
    overflow: auto;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color:black;
    font-size:large;
    font-weight: bolder;
}

.navbar li :hover {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(31, 133, 185);
    background-color:antiquewhite;
    cursor: grab;
}

.right{
    color:rgb(5, 5, 5);
    font-size:large;
    font-weight: bolder;
    padding: 3px 3px;
    margin-left:30px;
}

.break{
    color: rgb(240, 244, 246);
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.content{
    display: grid;
    grid-template-columns:20em auto 20em;
    gap: 10px;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px 35px;
}
 .content p{
    font-size:xx-large;
    font-weight: bolder;
    font-style: italic ;
    text-align: center;
    margin: 10px;
    padding: 20px;
    height: auto;
    background-color: lightgrey;
    border: 2px solid lightgray;
    border-radius: 10px ;
    border-color: rgb(62, 67, 67);
 }
  .content img{
    border-left: 2px solid rgb(19, 4, 32);
    border-right: 2px solid rgb(19, 4, 32);
    border-radius: 7px;
    margin-top: 20px ;
    padding: 10px 20px;
  }
  .content ul{
    overflow: auto; 
  }

  .content li{
    list-style:disc;
    margin:20px 10px;
    padding: 5px;
    color: rgb(12, 55, 71);
  }
  .content h3{
    font-size:xx-large;
    font-weight: bolder;
    font-style: italic ;
    text-align: center;
    margin: 10px;
    margin-bottom: 0px;
    padding: 20px;
    height: auto;
    background-color: lightgrey;
    text-decoration: underline;
  }
